.tabs {
	display: flex;
	padding: 15px;

	gap: 14px;
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(10px);
	border-radius: 12px;


	margin: auto;
	/* margin: 12px; */
	margin-top: 50px;

}

.tab {
	position: relative;
	z-index: -1;
	/*  */
}

.tab-title {
	padding: 18px;
	/* background: rgba(0, 0, 0, 0.1); */
	/* background: linear-gradient(45deg, #f8b5a5, #e2d2fd); */
	cursor: pointer;
	border-radius: 10px;
	display: flex;
}

.tab-title::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	/* background: linear-gradient(45deg, #f8b5a5, #e2d2fd); */
	border-radius: 10px;
	opacity: 0.8;
	z-index: -1;
	transition:  all 0.4s;




}

.bookmark-tab .tab-title::before {
	background: linear-gradient(45deg, #f8b5a5, #e2d2fd);


}

.note-tab .tab-title::before {
	background: linear-gradient(45deg, #d88975, #a179e5);


}

.todo-tab .tab-title::before {
	background: linear-gradient(45deg, #dbf490, #8860cf);


}


.tab-title:hover::before{
	opacity: 1;
	transform: scale(1.1);
}